* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

:root {
    --main-bg-color: #f0f0f0;
    --header-color: #2361e6;
}

button:hover {
    filter: brightness(0.9);
}

button.active:hover {
    filter: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: var(--header-color);
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--main-bg-color);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

nav button {
    min-width: 7rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--header-color);
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-bottom: none;
}

nav button.active {
    background: var(--main-bg-color);
    border: none;
    color: #000000;
}

main {
    background: var(--main-bg-color);
    display: grid;
    grid-template-rows: 6rem 1fr;
    padding-bottom: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--header-color);
    color: var(--main-bg-color);
    border: none;
}

.items-container {
    display: grid;
    grid-template-rows: 4rem;
    grid-auto-rows: 4rem;
    padding: 0 15rem;
    gap: 1rem;
}

.todo-item {
    border: 1px solid var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background: var(--header-color);
    border-radius: 5px;
}

.todo-item p {
    color: var(--main-bg-color);
}

.todo-item button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 5rem;
    background: var(--main-bg-color);
}